<p>Users:</p> 

<dl>
    <?php  foreach ($this->entries as $entry): ?>
    <div>Login: <?php echo $this->escape($entry->username); ?></div>   	
    <div>email: <?php echo $this->escape($entry->email); ?></div>
    <hr>
    <?php endforeach ?>
</dl>