<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Zend Framework Quickstart Application</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
  
  <?php echo $this->headLink()->appendStylesheet('/css/style.css'); ?>
  <?php echo $this->headLink()->appendStylesheet('/css/jquery-ui.css'); ?>

</head>
<body>
    <div id="header" style="background-color: #EEEEEE; height: 30px;">
        <div id="header-logo" style="float: left">
            <b><a href="/">ZF Quickstart Application</a></b>
        </div>
        <div id="header-navigation" style="float: right">

            <?php $url = array($this->url(array('controller' => 'users'), 'default', true),
                               $this->url(array('controller' => 'authorization'), 'default', true),
                               $this->url(array('controller' => 'guestbook'), 'default', true),
                               $this->url(array('controller' => 'users', 'action' => 'userslist')),
                               $this->url(array('controller' => 'authorization', 'action' => 'logout'))
            );

                if(Zend_Auth::getInstance()->hasIdentity()){
                    echo "<a  href = \"{$url[2]}\"> Guestbook </a>";
                    echo "<a  href = \"{$url[3]}\"> Users list </a>";
                    echo "<a href = \"{$url[4]}\"> Log out </a>";
                }else{
                    echo "<a href = \"{$url[0]}\"> Sign up </a>";
                    echo "<a href = \"{$url[1]}\"> Login in </a>";          
                }

            ?>
        </div>
    </div><!-- header -->
     
    <div id="content">
        <?php echo $this->layout()->content ?>
    </div><!-- content -->

    <div id="footer">
        <div id="more-information">
            <p><img src="http://framework.zend.com/images/PoweredBy_ZF_4LightBG.png" /></p>
            <p>
                Helpful Links: <br />
                <a href="http://framework.zend.com/">Zend Framework Website</a> |
                <a href="http://framework.zend.com/manual/en/">Zend Framework Manual</a>
            </p>
        </div><!-- more-information -->
    </div><!-- footer -->
</body>
</html>